.row:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;

}

.timeline {
    position: relative;
    padding: 15px 0;
    max-width: 900px;
    margin: auto;

}

.timeline-content {
    padding: 50px 0;
}

.timeline:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;

}

.timeline:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 2px;
    margin-left: -1px;
    background-color: #16ccc4;
}


.timeline .item {
    width: 50%;
    position: relative;
    margin-bottom: 20px;
}

.timeline .item .content {
    transition: transform 0.4s;
}

.timeline .item .item-icon {
    position: absolute;
    top: 50%;

    width: 40px;
    height: 40px;
    margin-top: -20px;

    border-radius: 50%;
    background-color: #16ccc4;
    color: #fff;
    text-align: center;
    line-height: 40px;

}

.timeline .item .item-content,
.timeline .item .item-content .content {
    position: relative;
    line-height: 1.5;
}

.timeline .item .item-content .content {
    box-shadow: -5px 5px 0 0 #e5e5e5;
}

.timeline .item .item-content .content:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

}

.timeline .item .item-content .content:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;


}

.timeline .item .item-content .content {
    display: inline-block;
    background-color: #ff306a;
    border-radius: 5px;
    padding: 15px;
}

.timeline .item .item-content .content {
    color: #fff;
}

.timeline .item .author {
    color: #ccc;
    white-space: nowrap;

    margin-top: -15px;
    position: absolute;
    top: 50%;
}

.timeline .row:nth-child(odd) .item { /* right */
    float: right;
    text-align: left;
    padding-left: 20px; /* line width/2 + icon circle width/2 + triagle width + 10px space*/
}

.timeline .row:nth-child(odd):hover .item .content { /* right */
    transform: translateX(16px);
}

.timeline .row:nth-child(odd) .item .item-content .content { /* right */
    margin-left: 15px;
}

.timeline .row:nth-child(odd) .item .item-icon { /* right */
    right: 100%;
}

.timeline .row:nth-child(odd) .item .item-content .content:after { /* right */
    right: 100%;
    border-right: 10px solid #ff306a;
}

.timeline .row:nth-child(odd) .item .item-content .content:before { /* right */
    right: 100%;
    border-right: 12px solid #e5e5e5;
}

.timeline .row:nth-child(odd) .item .author { /* right */
    right: 100%;
    margin-right: 30px; /* icon circle width/2 + 15px space */
    text-align: right;
}

.timeline .row:nth-child(even) .item { /* left */
    float: left;
    text-align: right;
    padding-right: 20px; /* line width/2 + icon circle width/2 + triagle width + 10px space*/

}

.timeline .row:nth-child(even):hover .item .content { /* left */
    transform: translateX(-16px);
}

.timeline .row:nth-child(even) .item .item-content .content { /* left */
    margin-right: 15px;
}

.timeline .row:nth-child(even) .item .item-icon { /* left */
    left: 100%;
}

.timeline .row:nth-child(even) .item .item-content .content:after { /* left */
    left: 100%;
    border-left: 10px solid #ff306a;
}

.timeline .row:nth-child(even) .item .author { /* left */
    left: 100%;
    margin-left: 30px; /* icon circle width/2 + 15px space */
    text-align: left;
}

.timeline input, .timeline label {
    display: inline;

}

.timeline li {
    list-style: none;
}

.paragraph {
    font-size: 14px;
    margin: 0;
}

@media (max-width: 767px) {
    .timeline:before {
        left: 30px;
        margin-left: 0;
    }

    .timeline .row {
        padding-left: 30px;
    }

    .timeline .row:nth-child(even) .item,
    .timeline .row:nth-child(odd) .item {
        width: 100%;
        padding-left: 20px;
        padding-right: 15px;

    }

    .timeline .row:nth-child(even) .item { /* right */
        float: right;
        text-align: left;
    }

    .timeline .row:nth-child(even):hover .item .content { /* left */
        transform: translateX(16px);
    }

    .timeline .row:nth-child(even) .item .item-content { /* right */
        margin-left: 0;
        margin-right: 0px;
    }

    .timeline .row:nth-child(even) .item .item-icon { /* right */
        right: 100%;
        left: auto;
    }

    .timeline .row .item .item-content .content {
        margin-bottom: 5px;
    }

    .timeline .row:nth-child(even) .item .item-content .content { /* right */
        margin-right: 0;
        margin-left: 15px;
    }

    .timeline .row:nth-child(odd) .item .item-content .content:before,
    .timeline .row:nth-child(even) .item .item-content .content:before { /* right */
        right: 100%;
        left: auto;
        border-right: 12px solid #e5e5e5;
        border-left: none;
    }

    .timeline .row:nth-child(even) .item .item-content .content:after { /* right */
        right: 100%;
        left: auto;
        border-right: 10px solid #ff306a;
        border-left: none;
    }

    .timeline .row:nth-child(even) .item .author,
    .timeline .row:nth-child(odd) .item .author { /* right */
        position: static;
        text-align: left;
        margin-top: 5px;
        margin-left: 15px;
    }
}

.important-link {
    color: #ff306a;
}

.donate {
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #ff306a;
    box-shadow: 0px 5px 0px 0px #ff0047;
    padding: 10px;
}

.donate:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.donate:hover {
    background-color: #ff306a;
    color: white !important
}

.donate:active, .donate:focus {
    color: white !important;
}

.button-list {
    display: inline-block;
}

.button-list a {
    width: 100%;
    margin-bottom: 1em;
}
