:root {
    --primary-light: #ff5c8a;
    --primary: #ff306a;
    --primary-dark: #cc2655;
    --white: #323232;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #3d3d3d;
    --greyLight-3: #bec8e4;
    --greyDark: white;
}

#search-container {
    width: 100%;
    display: contents;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

#search-container .components {
    width: 90%;
    height: 226px;
    min-height: 15em;
    margin: auto;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 3rem;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 30% 30% 30%;
    grid-column-gap: 3%;
    grid-row-gap: 4%;
    align-items: center;
}

/*  SWITCH  */
#search-container .switch {
    grid-column: 2/3;
    grid-row: 3/3;
    display: grid;
    grid-gap: 3rem;
    justify-self: center;
    top: -14px;
    position: relative;
    width: 100%;
}

#search-container .sub-switch:hover::after,
#search-container .sub-switch:focus::after {
    content: attr(aria-label); /* on affiche aria-label */
    position: absolute;
    top: -3em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap; /* on interdit le retour à la ligne*/
    padding: 5px 14px;
    background: white;
    color: black;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
    outline: none;
}

#search-container .switch input {
    display: none;
}

#search-container .switch > label {
    top: 4px;
    position: absolute;
    font-size: 16px;
    right: 76px;
    color: white;
}

#search-container .sub-switch {
    width: 6rem;
    position: absolute;
    right: 0;
}

#search-container .sub-switch label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
    border-radius: 1.6rem;
}

#search-container .sub-switch label::after {
    content: "";
    position: absolute;
    left: 0.4rem;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background: var(--greyDark);
    transition: all 0.4s ease;
}

#search-container .sub-switch label::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    opacity: 0;
    transition: all 0.4s ease;
}

#search-container .switch input:checked ~ label::before {
    opacity: 1;
}

#search-container .switch input:checked ~ label::after {
    left: 57%;
    background: var(--greyLight-1);
}


/*  BUTTONS  */
#search-container .btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bolder;
}

#search-container .advanced_search_button {
    grid-column: 3/3;
    grid-row: 3/3;
    background: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1);
}

#search-container .advanced_search_button:hover {
    color: var(--white);
}

#search-container .advanced_search_button:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

#search-container .btn p {
    font-size: 1.6rem;
}

#search-container .search-tags {
    grid-column: 1/3;
    grid-row: 2/3;
}

/*  SEARCH  */
#search-container .search {
    grid-column: 1/3;
    position: relative;
    display: flex;
    align-items: center;
}

#search-container .search-input {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}

#search-container .search-input::-moz-placeholder {
    color: var(--greyLight-3);
}

#search-container .search-input:-ms-input-placeholder {
    color: var(--greyLight-3);
}

#search-container .search-input::placeholder {
    color: var(--greyLight-3);
}

#search-container .search-input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

#search-container .search-input:focus + .search-icon {
    color: var(--primary);
}

#search-container .search-icon {
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    color: var(--greyDark);
    transition: 0.3s ease;
}

#search-container .select-language {
    grid-column: 1/3;
    grid-row: 3/3;
    width: 30%;
}

#search-container .select-sort {
    grid-column: 3/3;
    width: 100%;
}

#search-container .select-sort label {
    position: absolute;
    top: -23px;
    left: 4px;
}

.select-container {
    position: relative;
    margin: 30px 0;
    display: flex;
    align-items: center;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    cursor: pointer;
}

.select-container select {
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    left: 0px;
    padding: 10px 20px;
    position: absolute;
    cursor: pointer;
}

.select-container::after {
    content: "▾";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (max-width: 768px) {
    #search-container .components {
        display: block;
        width: inherit;
        height: inherit;
        min-height: inherit;
    }

    #search-container .switch {
        display: flex;
        top: 15px;
        right: 7px;
    }

    #search-container .switch > label {
        position: relative;
        right: -10px;
        width: 65%;
        overflow-wrap: anywhere;
    }

    #search-container .switch .sub-switch {
        position: relative;
    }

    #search-container .select-language {
        width: 100%;
    }

    #search-container .search-tags {
        margin-top: 18px;
    }

    #menu-app{
        top: 182px !important;
    }
}
