
a:hover {
    color: #179b77;
}

.form {
    background: #2b2b2b;
    padding: 40px;
    max-width: 630px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}


.tab-group .active a {
    background: #ff306a;
    color: #ffffff !important;
}

.tab-content > div:not(:first-child) {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    font-size: 22px;
}

.field-wrap label {
    position: absolute;
}

label .req {
    margin: 2px;
    color: #ff306a;
}

label.active {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #ff306a;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #ff306a;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #ff306a;
}

.button-block {
    display: block;
    width: 100%;
    padding: 10px;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.captcha_image {
    position: absolute;
    margin-left: 20em;
    height: 40px;
}

#registration_form_captcha {
    width: 50%;
}

.form-error ul {
    margin: 0;
    padding: 0;
}

.form-error ul li {
    list-style-type: none;
    color: #c50000;
}

.buttons {
    top: -22px;
    position: relative;
    margin-bottom: 20px;
}

.buttons .col a {
    text-align: center;
}

.buttons .col:first-child a {
    left: 0;
    text-align: left;
}

.buttons .col:last-child a {
    right: 0;
    text-align: right;
}

.buttons a {
    position: absolute;
    text-decoration: none;
}

.delete-link {
    top: 22px;
}


#edition-save {
    background-color: #00a500;
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    font-size: 19px;
}

.patreon-sync .animate-box svg {
    height: 40px;
    margin-left: 10%;
}
