body {
    background-color: #4c4c4c;
}

a:hover, a:focus, a:active {
    color: #ff306a !important;
}

.navbar-header a:hover, .navbar-header a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #ff306a !important;
}

.navbar {
    background-color: #2b2b2b;
}

.navbar-brand {
    margin-left: 20px !important;
    color: #ff306a !important;
    font-weight: 700;
}

footer {
    background-color: #4c4c4c;
}

.body-container {
    width: 100%;
}

article {
    padding: 1%;
    display: inline-block;
}

article a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, p, a {
    color: white;
}

.manga-container {
    display: flex;
    flex-wrap: wrap;
}

.manga {
    width: -webkit-fill-available;
}

@media (min-width: 768px) {
    .manga {
        width: 25%;
    }
}

.img-thumbnail {
    background-color: transparent;
    border-color: transparent;
    border: none;
    z-index: 2;
    text-decoration: none;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.img-name {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #2b2b2b;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.6em;
}

::selection {
    background: #ff306a !important; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ff306a !important; /* Gecko Browsers */
}

.svg-container svg {
    width: 246px;
    margin: 20px auto;
    display: block;
}

.svg-container a {
    opacity: 0;
}

.svg-container a + .facebox .mousedown {
    display: none;
}

.svg-container {
    background-color: white;
    width: fit-content;
    border-radius: 4%;
    margin: auto;
}

.text-danger {
    color: #ff306a;
}

.text-danger:hover {
    color: #ff306a;
}

.text-danger::selection {
    color: #ff306a;
}

.search-navbar {
    padding: 0px;
}


@media (max-width: 767px) {
    .search-navbar {
        width: 100%;
        display: inline-flex;
        padding: 10px;
    }

    .navbar-nav {
        margin: 0px;
    }

    .searchButton {
        text-align: end;
    }

    .navbar-collapse {
        box-shadow: none;
    }
}

.form-group {
    margin-bottom: 0px;
}

.search-field-load {
    background: #ededed url(../images/waiting.png) no-repeat 9px center;
}

.search-field-completed {
    background: #ededed url(../images/search.png) no-repeat 9px center;
}

#search_field {
    padding: 9px 10px 9px 32px;
    height: inherit;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    z-index: 2;
}

#search_field::-webkit-search-decoration,
#search_field::-webkit-search-cancel-button {
    display: none;
}

#search_field:focus {
    background-color: #fff;
    border-color: #ff306a;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


#search_field:-moz-placeholder {
    color: #999;
}

#search_field::-webkit-input-placeholder {
    color: #999;
}

.searchButton {
    background: #ff306a;
    padding: 10px 20px;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    border: 0 none;
    font-weight: bold;
    left: -24px;
    position: relative;
    z-index: 1;
    width: 100px;
}

.searchButton:hover, .searchButton:active, .searchButton:focus, .searchButton:focus:active {
    background: #ff306a;
}

.manga-container .well {
    margin: auto;
}

.pagination > li > span, .pagination > li > a {
    background-color: #ff306a !important;
}

.pagination > .active > span, .pagination > li > a:hover {
    background-color: #fd0056 !important;
}

.switch-div {
    display: inline-block;
}

:root {
    --primaryColor: #ff306a;
    --textColor: #666b69;
    --backgroundColor: #333130;
}

/* Switch component */

.Switch > span {
    position: relative;
    padding-left: 3.2em;
    user-select: none; /* just for the demo */
}

.Switch > input[type='checkbox'] {
    height: 1.2em;
    width: 2.55em;
    opacity: 0; /* thanks sara https://vimeo.com/331530115 */
    position: absolute;
    z-index: 1;
}

.Switch > span:before {
    background-color: var(--textColor);
    border-radius: 1.2em;
    border: .1em solid transparent;
    content: '';
    height: 1.2em;
    left: 0;
    position: absolute;
    transition: border-color .2s, background-color .2s;
    width: 2.55em;
}

.Switch > span:after {
    background-color: #e6f2ee;
    border-radius: 50%;
    border: .1em solid var(--textColor);
    content: '';
    height: 1.2em;
    left: 0;
    position: absolute;
    transition: transform .2s, border-color .2s;
    width: 1.2em;
}

.Switch > input:checked + span:before {
    background-color: var(--primaryColor);
}

.Switch > input:checked + span:after {
    border-color: var(--primaryColor);
    transform: translateX(100%);
}

.a-neonText {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .a-neonText {
        font-size: 20px;
    }
}

.a-neonToggle:checked ~ .a-neonText.-main {
    -webkit-animation-name: flickering-pink;
    animation-name: flickering-pink;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 7.5s;
    animation-duration: 7.5s;
}

.a-neonToggle:checked ~ .a-neonText.-frame:first-of-type {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.a-neonToggle {
    display: none;
}

@media (max-width: 767px) {
    .searchButton {
        left: -18px;
    }
}

.about {
    color: #ff771c !important;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.ui-autocomplete {
    position: absolute;
    padding: 4px;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #fff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-right-width: 2px;
    border-bottom-width: 2px;
    overflow-y: scroll;
    max-height: 30%;
}

.ui-menu-item {
    cursor: pointer;
    padding-left: 4px;
}

.ui-menu-item:hover {
    color: #ff306a;
}

.label-default {
    margin: 0px 2px;
    background-color: #ff306a;
}

.label-default[href]:hover {
    background-color: #f17384;
    color: white !important;
}

.counter {
    font-style: normal;
    font-variant: oldstyle-nums;
    background-color: white;
    left: -7px;
    position: relative;
    color: black;
}

.label-container {
    display: inline-block;
}

.d-none {
    display: none;
}

.active {
    color: #ff306a !important;
}

.ts-places-elements {
    display: none;
}

.fa-patreon {
    color: #F4634C;
}