body {
    background-color: #4c4c4c;
}

header {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

a:hover, a:focus, a:active {
    color: #ff306a !important;
}

.navbar-header a:hover, .navbar-header a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #ff306a !important;
}

.navbar {
    background-color: #2b2b2b;
    border-radius: 0;
}

.navbar-nav > li {
    background-color: #181921;
    border-left: solid 5px #ff306a;
    transform: SkewX(-45deg);
    padding-left: 8px;
    padding-right: 8px;
    z-index: 3;
    overflow: hidden;
}


.navbar-nav > li:has(.login) {
    border-right: solid 5px #ff306a;
}

@media (min-width: 768px) {
    .navbar-nav > li:nth-child(-n+3) {
        width: 176px;
        height: 60px;
        text-align: center;
    }

    .navbar-nav > li:nth-child(-n+3) a {
        color: #ff306a;
        font-weight: bolder;
    }

    .navbar-nav > li:nth-child(-n+3):hover a {
        color: black;
        -webkit-transition: all .5s cubic-bezier(.4, 0, .2, 1) 0ms;
        -moz-transition: all .5s cubic-bezier(.4, 0, .2, 1) 0ms;
        transition: all .5s cubic-bezier(.4, 0, .2, 1) 0ms;
    }

    .navbar-nav > li:nth-child(-n+3) a:hover {
        color: black !important;
    }

    li:has(.trending)::before {
        background-image: url("../images/trending.webp");
        width: 240px !important;
    }

    li:has(.tags)::before {
        background-image: url("../images/tags.webp");
        width: 240px !important;
    }

    li:has(.login)::before {
        background-image: url("../images/login.webp");
        width: 240px !important;
    }

    .navbar-nav > li:hover::before {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }

    .navbar-nav > li::before {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        content: ""; /* Create a pseudo-element to contain the background image */
        background-size: cover; /* Adjust this as needed */
        background-position: center; /* Adjust this as needed */
        transform: skew(45deg); /* Apply the opposite skew transformation */
        position: absolute;
        top: 0;
        left: -37px;
        width: 180%;
        height: 100%;
        overflow: hidden;
        z-index: -1; /* Place the pseudo-element behind the content */

        -webkit-transition: all .5s cubic-bezier(.4, 0, .2, 1) 0ms;
        -moz-transition: all .5s cubic-bezier(.4, 0, .2, 1) 0ms;
        transition: all .5s cubic-bezier(.4, 0, .2, 1) 0ms;
    }
}

.navbar-nav li a {
    transform: SkewX(45deg);
}

.navbar-nav .dropdown {
    transform: skewX(0deg);
    background-color: #2b2b2b;
    border-left: none;
    z-index: 2;
    overflow: visible;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-nav > .dropdown::before {
    transform: skew(0deg);
}

.navbar-nav .dropdown a {
    transform: skewX(0deg);
    left: 10px;
    top: 3px;
}


.navbar-nav .dropdown-menu {
    z-index: 3;
}

.navbar-default .navbar-nav > .open > .dropdown-toggle, .navbar-default .navbar-nav > .open > .dropdown-toggle:hover, .navbar-default .navbar-nav > .open > .dropdown-toggle:focus {
    background-color: transparent;
}


.navbar-brand {
    margin-left: 50px !important;
    color: #ff306a !important;
    font-weight: 700;
}

.navbar-brand-logo {
    margin-top: 5px;
    height: 50px;
    position: absolute;
    border-radius: 40px;
}

.unlock {
    background: linear-gradient(45deg, #ff6b6b, #f9ca24, #48dbfb, #1dd1a1);
    background-size: 300% 300%;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: gradient 5s ease infinite;
}

.unlock a {
    color: white;
    background-color: #2d3436;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.unlock a:hover {
    color: white !important;
}

.premium {
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(45deg, #ff0066, #ff66ff, #66ff66, #0066ff, #6600ff);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient 5s ease infinite;
}

.premium-title {
    margin: 0;
    font-size: xxx-large;
    text-align: center;
    font-weight: bold;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 767px) {
    .dl-app {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .unlock a {
        display: block;
        color: white;
        background-color: #2d3436;
        padding: 8px 15px;
        text-decoration: none;
        border-radius: 20px;
        margin: auto;
        margin-top: 12px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        width: max-content;
    }
}

footer {
    background-color: #4c4c4c;
}

.body-container {
    width: 100%;
}

article {
    padding: 1%;
    display: inline-block;

}

article a {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    -webkit-transition: all .15 cubic-bezier(.4, 0, .2, 1) 0ms;
    -moz-transition: all .1s cubic-bezier(.4, 0, .2, 1) 0ms;
    transition: all .1s cubic-bezier(.4, 0, .2, 1) 0ms;
}

article h2 {
    font-size: 20px;
}

@media (min-width: 767px) and (max-width: 1200px) {
    article h2 {
        font-size: 10px;
    }

}


article a:hover {
    text-decoration: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
}

h1, h2, h3, h4, p, a {
    color: white;
}

.row {
    margin: 0;
}

.manga-container {
    display: flex;
    flex-wrap: wrap;
}

.manga {
    width: -webkit-fill-available;
}

@media (min-width: 768px) {
    .manga {
        width: 20%;
    }
}

.manga a {
    display: block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #2b2b2b;
    border-radius: 10px;
}

article:hover .thumbnail-tag, article:hover .manga-unlock {
    opacity: 1; /* Make it fully visible when hovering */
    visibility: visible; /* Make it visible */
}

/*
article .img-name:hover {
    white-space: normal;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}*/


.thumbnail-tag span:hover {
    text-decoration: none;
    /*box-shadow: 0 0 40px rgb(251, 0, 110, 0.7);
    box-shadow: 0 0 40px #facde0;*/
    box-shadow: 0 0 20px #59253b;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.thumbnail-tag a {
    display: contents;
    background-color: transparent;
}

.thumbnail-tag {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    text-align: left;
    padding: 0 3%;
    z-index: 1;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    text-decoration: none;
    -webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1) 0ms;
    -moz-transition: all .4s cubic-bezier(.4, 0, .2, 1) 0ms;
    transition: all .4s cubic-bezier(.4, 0, .2, 1) 0ms;
}

.thumbnail-tag .tag-rounded {
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    border: 1px solid #81758b;
    background-color: #2b2b2bcc;
    border-radius: 25px;
    padding: 3px 12px;
    font-size: 12px;
    color: #d9d9d9;
    transition: all 300ms ease-in-out;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.thumbnail-tag span {
    display: inline-block;
    margin-bottom: 5px;
}

.manga-unlock {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
    padding: 0 3%;
    z-index: 1;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    text-decoration: none;
    -webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1) 0ms;
    -moz-transition: all .4s cubic-bezier(.4, 0, .2, 1) 0ms;
    transition: all .4s cubic-bezier(.4, 0, .2, 1) 0ms;
}

.img-thumbnail {
    background-color: transparent;
    border-color: transparent;
    border: none;
    z-index: 2;
    text-decoration: none;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-height: 482px;
    margin: auto;
    display: block;
}

.image-container {
    position: relative;
    display: block; /* or block, depending on your layout */
    overflow: hidden;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32%;
    background: linear-gradient(180deg, #2b2b2b, transparent, transparent);
}

.img-name {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #2b2b2b;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.6em;
    padding: 0 10px;
    margin: 5px 0;
}

::selection {
    background: #ff306a !important; /* WebKit/Blink Browsers */
    color: #4c4c4c !important;
}

::-moz-selection {
    background: #ff306a !important; /* Gecko Browsers */
    color: #4c4c4c !important;
}

.svg-container svg {
    width: 246px;
    margin: 20px auto;
    display: block;
}

.svg-container a {
    opacity: 0;
}

.svg-container a + .facebox .mousedown {
    display: none;
}

.svg-container {
    background-color: white;
    width: fit-content;
    border-radius: 4%;
    margin: auto;
}

.text-danger {
    color: #ff306a;
}

.text-danger:hover {
    color: #ff306a;
}

.text-danger::selection {
    color: #ff306a;
}

.search-navbar {
    padding: 0px;
}


@media (max-width: 767px) {
    .search-navbar {
        width: 100%;
        display: inline-flex;
        padding: 10px;
    }

    .navbar-nav {
        margin: 0px;
    }

    .search-button {
        text-align: end;
    }

    .navbar-collapse {
        box-shadow: none;
        overflow: hidden !important;
    }

    .navbar-nav > li:has(.login) {
        border-right: none;
    }

    header ul.nav li {
        width: 105vw;
    }
}

.form-group {
    margin-bottom: 0px;
}

.search-field-load {
    background: #ededed url(../images/waiting.png) no-repeat 9px center;
}

.search-field-completed {
    background: #ededed url(../images/search.png) no-repeat 9px center;
}

#search_field {
    padding: 9px 10px 9px 32px;
    height: inherit;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    z-index: 7;
}

#search_field::-webkit-search-decoration,
#search_field::-webkit-search-cancel-button {
    display: none;
}

#search_field:focus {
    background-color: #fff;
    border-color: #ff306a;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

#search_field:-moz-placeholder {
    color: #999;
}

#search_field::-webkit-input-placeholder {
    color: #999;
}

.search-button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    background-image: linear-gradient(#ff5c8a, #ff0068);

    padding: 10px 20px;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
    border: 0 none;
    font-weight: bold;
    left: -24px;
    position: relative;
    z-index: 6;
    width: 100px;
}

.search-button:hover, .search-button:active, .search-button:focus, .search-button:focus:active {
    background: #ff306a;

    -webkit-box-shadow: 0 0 5px rgb(212 12 235 / 90%);
    -moz-box-shadow: 0 0 5px rgb(212 12 235 / 90%);
    box-shadow: 0 0 5px rgb(212 12 235 / 90%);
}

.manga-container .well {
    margin: auto;
}

.pagination > li > a {
    background-color: #ff306a !important;
}

.pagination > .active > a, .pagination > li > a:hover {
    background-color: #ff5c8a !important;
    color: white !important;
}

.switch-div {
    display: inline-block;
}

:root {
    --primaryColor: #ff306a;
    --textColor: #666b69;
    --backgroundColor: #333130;
}

/* Switch component */

.Switch > span {
    position: relative;
    padding-left: 3.2em;
    user-select: none; /* just for the demo */
}

.Switch > input[type='checkbox'] {
    height: 1.2em;
    width: 2.55em;
    opacity: 0; /* thanks sara https://vimeo.com/331530115 */
    position: absolute;
    z-index: 1;
}

/*
.Switch > span:before {
    background-color: var(--textColor);
    border-radius: 1.2em;
    border: .1em solid transparent;
    content: '';
    height: 1.2em;
    left: 0;
    position: absolute;
    transition: border-color .2s, background-color .2s;
    width: 2.55em;
}

.Switch > span:after {
    background-color: #e6f2ee;
    border-radius: 50%;
    border: .1em solid var(--textColor);
    content: '';
    height: 1.2em;
    left: 0;
    position: absolute;
    transition: transform .2s, border-color .2s;
    width: 1.2em;
}


.Switch > input:checked + span:before {
    background-color: var(--primaryColor);
}

.Switch > input:checked + span:after {
    border-color: var(--primaryColor);
    transform: translateX(100%);
}
*/

.a-neonText {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
    text-align: center;
}

.a-neonText > i {
    display: none;
}

@media screen and (min-width: 800px) {
    .a-neonText {
        font-size: 20px;
    }
}

.a-neonToggle:checked ~ .a-neonText.-main {
    -webkit-animation-name: flickering-pink;
    animation-name: flickering-pink;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 7.5s;
    animation-duration: 7.5s;
}

.a-neonToggle:checked ~ .a-neonText.-frame:first-of-type {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.a-neonToggle {
    display: none;
}

@media (max-width: 767px) {
    .search-button {
        left: -18px;
    }
}

.about {
    color: #ff771c !important;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.ui-autocomplete {
    position: absolute;
    padding: 4px;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #fff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-right-width: 2px;
    border-bottom-width: 2px;
    overflow-y: scroll;
    max-height: 30%;
}

.ui-menu-item {
    cursor: pointer;
    padding-left: 4px;
}

.ui-menu-item:hover {
    color: #ff306a;
}


.letter-list li {
    position: relative;
    display: inline-block;
    color: #ff306a;
    cursor: pointer;
    padding: 5px;
}

.letter-list li a {
    text-decoration: none !important;
}

.tag-list {
    color: #ff306a;
    list-style: none;
}

.tag-list span {
    padding-bottom: 10px;
}

a.label:hover, a.label:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.label-default[href]:hover, .label-default[href]:focus {
    background-color: #ff5c8a;
}


.label-default {
    background-color: #ff306a;
    margin: 0 2px;
}

.label {
    text-decoration-color: initial;
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 14px;
    font-weight: 700;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    background-color: #ff0068;
    /*border-radius: 40px;*/
    cursor: pointer;
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 12px;
    text-decoration: none;
    text-shadow: #000 1px 0 5px;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1) 0ms, box-shadow .25s cubic-bezier(.4, 0, .2, 1) 0ms, border-color .25s cubic-bezier(.4, 0, .2, 1) 0ms, color .25s cubic-bezier(.4, 0, .2, 1) 0ms;
}

.counter {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #fff;
    color: #000;
    font-style: normal;
    left: 12px;
    position: relative;
    text-shadow: none;

}

.label-container {
    display: inline-block;
    padding: 2px;
}

.d-none {
    display: none;
}

.active {
    color: #ff306a !important;
}

.ts-places-elements {
    display: none;
}

.fa-patreon {
    color: #F4634C;
}

.fa-android {
    color: #a5c639;
    font-size: 20px;
}

.manga-count-pages {
    position: absolute;
    z-index: 1;
    width: 50%;
    text-shadow: black 1.5px 2px 2px;
    text-align: right;
    margin-right: 2%;
    right: 0;
}

.manga-information {
    margin-left: 2%;
    position: absolute;
    z-index: 1;
    width: 50%;
    text-shadow: black 1.5px 2px 2px;
}

.manga-remove-favorite {
    position: absolute;
    left: 20px;
    text-shadow: black 1.5px 2px 2px;
    cursor: pointer;
    color: red;
    size: 10px;
}

.locked-text {
    background: linear-gradient(45deg, #ff6b6b, #f9ca24, #48dbfb, #1dd1a1);
    background-size: 300% 300%;
    color: white;
    text-align: center;
    animation: gradient 5s ease infinite;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 0;
}

.locked-text h2 {
    margin-bottom: 0;
}


.loader {
    z-index: 99999;
    top: 3em;
    left: 1em;
    position: absolute;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.c-red {
    color: red;
    text-decoration: none !important;
}

#loader-scroll {
    margin: auto;
    width: 100px;
    display: block;
    text-align: center;
}

#loader-scroll path,
#loader-scroll rect {
    fill: #ff306a;
}


/* Styling the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

/* Styling the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #ff306a; /* Darker color for the thumb */
    border-radius: 5px;
}

/* Styling the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff5f8c; /* Slightly lighter color on hover */
}

/* Styling the scrollbar track on hover */
::-webkit-scrollbar-track {
    background-color: #1a1a1a; /* Dark background color for the track */
}

/* Styling the scrollbar track when dragged */
::-webkit-scrollbar-thumb:active {
    background-color: #999999; /* Lighter color when dragging the thumb */
}

#error {
    overflow: hidden;
}

@media (min-width: 1010px) {
    .error {
        margin: auto;
        text-align: center;
    }
}


.error-image {
    max-width: 100%;
    max-height: 100%;
}

html {
    overflow-x: hidden;
}
