h1 {
    text-align: center;
    padding: 25px 0;
}

.form {
    background: #2b2b2b;
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form-credit {
    background: #2b2b2b;
    padding: 40px;
    padding-bottom: 20px;
    max-width: 630px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.patreon_link {
    color: #ff306a;
    text-decoration: underline;
}

.payment_card {
    text-align: center;
}

.price {
    margin-top: 54px !important;
    margin-bottom: 4px;
    font-size: x-large;
}

.price-select {
    background: transparent;
    border: none;
}

.price-select select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#card-container {
    height: 54px;
}

.sq-card-message {
    color: white !important;
}

.sq-card-message:before {
    background-color: white !important;
}

#powered_by {
    text-align: right;
    font-size: small;
    pointer-events: none
}

@media (max-width: 767px) {
    #powered_by {
        padding-top: 50px;
    }
}

#powered_by svg {
    height: 15px;
    top: 3px;
    position: relative;
}

.loader-payment {
    display: none;
    margin: auto;
    width: max-content;
}

.success {
    text-align: center;
    font-size: large;
    display: none;
}

.success p {
    margin: 0;
}

.star-button {
    margin: 20px auto 0 auto;
    display: block;
    position: relative;
    padding: 12px 35px;
    background: #ffffff;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 0 #ffffff8c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
    pointer-events: none;
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
    pointer-events: none;
}

.star-button:hover {
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 25px #ffffff8c;
}

.star-button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}

#payment-status-container {
    margin: 0;
    color: red;
    padding-top: 30px;
}

#payment-details-container {
    margin: 0;
}

#contact {
    background: #2b2b2b;
    padding: 10px;
    font-size: medium;
    margin-top: 12px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#contact-credit {
    font-size: small;
    padding-top: 10%;
    margin: 0%;
}
