
.letter-list li {
    position: relative;
    display: inline-block;
    color: #ff306a;
    cursor: pointer;
    padding: 5px;
}

.letter-list li a {
    text-decoration: none !important;
}

.tag-list {
    color: #ff306a;
    list-style: none;
}

.tag-list span {
    padding-bottom: 10px;
}

a.label:hover, a.label:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.label-default[href]:hover, .label-default[href]:focus {
    background-color: #ff5c8a;
}