<div class='manga-container'>
    {% for manga in mangas %}
        {% include 'manga.html.twig' %}
    {% else %}
        <div class="well">{{ 'manga.no_mangas_found'|trans }}</div>
    {% endfor %}
</div>

<div class="navigation text-center">
    {% include 'paginator.html.twig' %}
</div>
