{% block main %}

    <link rel="stylesheet" href="{{ asset('build/css/tag-search.css') }}">
    <script src="{{ asset('build/js/tag-search.js') }}"></script>

    <div class="search-recommendation">
        <div class="GlobalSearch-TrendingTags">
            <h4>{{ 'tag.popular_title'|trans }}</h4>
            <div class="search-recommendation-tag">
            </div>
        </div>
    </div>
{% endblock %}
