{% block main %}

<link rel="stylesheet" href="{{ asset('build/css/tag-search.css') }}">
<script src="{{ asset('build/js/tag-search.js') }}"></script>

<div class="search-recommendation">
    <div class="GlobalSearch-TrendingTags">
        <h4>{{ 'tag.popular_title'|trans }}</h4>
        <div class="search-recommendation-tag">
            <a href="#" totalx="158" draggable="false">
                <span class="tag-rounded" totalx="158">big breasts</span>
            </a>
            <a href="#" totalx="158" draggable="false">
                <span class="tag-rounded" totalx="158">defloration</span>
            </a>
            <a href="#" totalx="158" draggable="false">
                <span class="tag-rounded" totalx="158">nakadashi</span>
            </a>
            <a href="#" totalx="158" draggable="false">
                <span class="tag-rounded" totalx="158">schoolgirl</span>
            </a>
            <a href="#" totalx="158" draggable="false">
                <span class="tag-rounded" totalx="158">uniform</span>
            </a>
            <a href="#" totalx="158" draggable="false">
                <span class="tag-rounded" totalx="158">orgy</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
